<ion-header>

  <ion-navbar>
    <ion-title>Controle de Tarefas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card-header class="login">
    <ion-icon style="zoom:8;" name="lock"></ion-icon>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <button ion-button block (click)="login(user)">Login</button>
    <button ion-button block color="secondary" (click)="register(user)">Cadastro</button>

  </ion-card-content>

</ion-content>
