<ion-header>
    <ion-navbar>

        <ion-title>Minhas Tarefas</ion-title>

        <ion-buttons end>
          <button ion-button icon-only (click)="adicionar()">
            <ion-icon name="add"></ion-icon>
          </button>
          <button ion-button icon-only (click)="sair()">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-buttons>

      </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let tarefa of tarefas | async">
      {{ tarefa.nome }}

      <button clear="" ion-button item-end icon-left (click)="finalizar(tarefa)">
        <ion-icon name="checkbox"></ion-icon>
      </button>
      <button clear="" ion-button item-end icon-left color="danger" (click)="excluir(tarefa.id)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
