<ion-header>

  <ion-navbar>
    <ion-title>adicionar Tarefa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Nome da tarefa</ion-label>
        <ion-input type="text" [(ngModel)]="tarefa.nome" maxlength="50"></ion-input>
      </ion-item>
      <button ion-button color="secondary" block (click)="adicionarTarefa(tarefa)">
        Adicionar
      </button>
    </ion-card-content>
  </ion-card>

</ion-content>
